
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">
<div class="container">

<!-- Navbar brand -->
<a class="navbar-brand" routerLink="">Get Gadgets</a>

<!-- Collapse button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">

<!-- Links -->
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" routerLink="products">Products</a>
</li>
</ul>
<!-- Links -->

<!-- Search form -->
<ul class="nav navbar-nav navbar-right">
<li class="nav-item nav-link" *ngIf="authService.user | async">{{(authService.user|async)?.email}}</li>
<li *ngIf="!(authService.user | async)" class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
<li *ngIf="authService.user | async" class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
</ul>
</div>
<!-- Collapsible content -->

</div>
</nav>
<!--/.Navbar-->
