<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Product</h4>
                    <form (ngSubmit)="onSubmit()" class="col s6">
                        <div class="row mb-4">
                            <div class="input-field col-lg-4 s4">
                                <input type="text" placeholder="Product Name" [(ngModel)]="product.name" name="name">
                            </div>
                            <div class="input-field col-lg-6 s4">
                                <input type="text" placeholder="Product Description" [(ngModel)]="product.desc" name="desc">
                            </div>
                            <div class="input-field col-lg-2 s4">
                                <input type="text" placeholder="Product Price" [(ngModel)]="product.price" name="price">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="input-field col-lg-4 s4">
                                <input type="text" placeholder="Product Category" [(ngModel)]="product.category" name="category">
                            </div>
                            <div class="input-field col-lg-4 s4">
                                <input type="text" placeholder="Product Tag" [(ngModel)]="product.tag" name="tag">
                            </div>
                            <div class="input-field col-lg-4 s4">
                                <input id="image" type="file" placeholder="Product Image" [(ngModel)]="product.img" name="img">
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div *ngFor="let product of products" class="col-lg-4">
            <div class="card mb-r wow fadeIn" data-wow-delay='0.2s'>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="font-bold">
                        <strong>{{product.name}}</strong>
                        <span class="badge badge-danger">{{product.tag}}</span>
                    </h5>
                    <hr>
                    <h4>
                        <strong>{{product.price}}$</strong>
                    </h4>
                    <p class="card-text mt-4">{{product.desc}}
                    </p>
                    <a href="#" class="btn btn-success btn-sm"><i class="fa fa-shopping-cart"></i>    Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>