<div class="container">
  <div class="row mt-4">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="categories">Category</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product</li>
            </ol>
        </nav>
    </div>
  </div>
  <div class="row mt-4">
      <div class="col-12 col-lg-6">
          <div class="card bg-light mb-3">
              <div class="card-body">
                      <img class="img-fluid" src="{{product?.img}}" />
              </div>
          </div>
      </div>

      <!-- Add to cart -->
      <div class="col-12 col-lg-6 add_to_cart_block">
          <div class="card bg-light mb-3">
              <div class="card-body">
                  <p class="price">₱{{product?.price}}</p>
                  <form method="get" action="cart.html">
                    <label>Quantity :</label>
                    <input type="text" class="form-control"  id="quantity" name="quantity" min="1" max="100" value="1">
                    <a href="cart.html" class="btn btn-success btn-lg btn-block text-uppercase">
                      <i class="fa fa-shopping-cart"></i> Add To Cart
                    </a>
                  </form>
                  <div class="product_rassurance mb-3">
                      <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-tags fa-2x"></i><br/>{{product?.category}}</li>
                          <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br/>Secure payment</li>
                          <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br/>+639274298113</li>
                      </ul>
                  </div>
                  <div class="card mb-1">
                      <div class="card-header stylish-color-dark text-light text-uppercase"><i class="fa fa-align-justify"></i>{{product?.name}}</div>
                      <div class="card-body">
                          <p class="card-text">
                              {{product?.desc}}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>